.header {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 100;
    &__wrapper {
        
    }
    &__navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $secondary-blue;
        border-radius: 20px;
    }
}