//colors
$primary-blue: #4DA5EB;
$secondary-blue: #3A94DC;

$primary-blue-dark: #00223C;

$primary-white: #FFFFFF;

$primary-grey: #EFF0F2;
$secondary-grey: #BDBEBF;

$primary-grey-dark: #DADEE8;
$secondary-grey-dark: #70757A;

$primary-error: #F66464;

$background: #F1F4FB;

//animation
$transition_def: all 0.3s ease-in-out; 