//colors
$primary-blue: #1c295a;
$secondary-blue: rgba(#1c295a, 0.7);

$primary-blue-dark: #00223C;
$primary-grey: #EFF0F2;
$secondary-grey: #BDBEBF;

$primary-grey-dark: #DADEE8;
$secondary-grey-dark: #70757A;
$primary-white: #FFFFFF;
$primary-error: #F66464;
//animation
$transition_def: all 0.3s ease-in-out; 